<%include file="header.html" />
<%include file="top.html"/>
%if slist is '' or slist is none:
<!--服务器管理首页开始-->
<ul class="breadcrumb">
	<li>服务器管理<span class="divider">/</span></li>
</ul>
<div class="well gocenter">
	<a class="btn large primary" href="javascript:;" id="createser">创建服务器</a>
</div>
<!--服务器管理首页结束-->
%else:
<!--服务器列表管理开始-->
<ul class="breadcrumb">
	<li><a href="/servers/">服务器管理</a><span class="divider">/</span></li>
	<li class="active">服务器列表</li>
</ul>
<table>
	<thead>
		<tr>
			<th>#</th>
			<th>名称</th>
			<th>物理地址</th>
			<th>Host地址</th>
			<th>用户名</th>
			<th>密码</th>
			<th>vpn网关</th>
			<th>vpn帐号</th>
			<th>vpn密码</th>
			<th>创建时间</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><input type="checkbox" name="pcheck[]"/></td>
			<td>163服务器</td>
			<td>/data/www/</td>
			<td>192.168.5.163</td>
			<td>test</td>
			<td>test@1998</td>
			<td></td>
			<td></td>
			<td></td>
			<td>2011-11-12 23:59:00</td>
			<td><span class="label warning">已关闭</span></td>
		</tr>
		<tr>
			<td><input type="checkbox" name="pcheck[]"/></td>
			<td>net服务器</td>
			<td>/data/wwwV2/</td>
			<td>192.168.10.13</td>
			<td>test</td>
			<td>test@1998</td>
			<td>58.168.15.243</td>
			<td>vpntest</td>
			<td>vpn@2008</td>
			<td>2011-11-12 23:59:00</td>
			<td><span class="label success">正常</span></td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="10">
				<button class="btn">打开</button>
				<button class="btn">关闭</button>
				<button class="btn primary">创建新服务器</button>
			</td>
		</tr>
	</tfoot>
</table>
<!--服务器列表管理结束-->
%endif
<script language="javascript" type="text/javascript">seajs.use('/static/js/servers', function(servers) {servers.init();});</script>
<%include file="footer.html"/>
