<%include file="header.html" />
<%include file="top.html"/>
%if slist is '' or slist is none:
<!--服务器管理首页开始-->
<ul class="breadcrumb">
	<li>服务器管理<span class="divider">/</span></li>
</ul>
<div class="well gocenter">
	<a class="btn large primary" href="javascript:;" id="createser">创建服务器</a>
</div>
<!--服务器管理首页结束-->
%else:
<!--服务器列表管理开始-->
<ul class="breadcrumb">
	<li><a href="/servers/">服务器管理</a><span class="divider">/</span></li>
	<li class="active">服务器列表</li>
</ul>
<table id='slist'>
	<thead>
		<tr>
			<th>#</th>
			<th>服务器名称</th>
			<th>对应项目</th>
			<th>详情</th>
			<th>创建时间</th>
			<th>状态</th>
		</tr>
	</thead>
	<tbody>
		<%!
			import time
			def formatDate(t):
				return time.strftime('%Y-%m-%d %H:%M:%S', time.gmtime(t))
		%>
		% for s in slist:
		<tr>
			<td><input type="checkbox" name="scheck" value="${s.s_id}"/></td>
			<td>${s.s_name}</td>
			<td>${s.p_name}</td>
			<td>
				<ul class="unstyled">
					<li><span class="blue">生产地址：</span><span id="ser_pdir_${s.s_id}">${s.s_pdir}</span></li>
					<li><span class="blue">备份地址：</span><span id="ser_bdir_${s.s_id}">${s.s_bdir}</li>
					<li><span class="blue">host地址：</span><span id="ser_host_${s.s_id}">${s.s_host}</li>
					<li><span class="blue">用户名：</span><span id="ser_user_${s.s_id}">${s.s_user}</li>
					<li><span class="blue">密码：</span><span id="ser_pass_${s.s_id}">${s.s_pass}</li>
					%if s.s_vpn != '':
					<li><span class="blue">vpn网关：</span><span id="ser_vpn_${s.s_id}">${s.s_vpn}</li>
					<li><span class="blue">vpn帐号：</span><span id="ser_vpnuser_${s.s_id}">${s.s_vpnuser}</li>
					<li><span class="blue">vpn密码：</span><span id="ser_vpnpass_${s.s_id}">${s.s_vpnpass}</li>
					%endif
				</ul>
			</td>
			<td>${formatDate(s.s_cdateline)}</td>
			<td>
			%if s.s_status == 1: 
				<span class="label success">正常</span>
			%else:
				<span class="label warning">已关闭</span>
			%endif
				<a href="javascript:void(0)" id="history_${s.s_id}" class="label">查看发布记录</a>
			</td>
		</tr>
		%endfor
	</tbody>
	<tfoot>
		<tr>
			<td colspan="6">
				<button class="btn" id="sopen">打开</button>
				<button class="btn" id="sclose">关闭</button>
				<a class="btn large primary" href="javascript:;" id="createser">创建服务器</a>
			</td>
		</tr>
	</tfoot>
</table>
<!--服务器列表管理结束-->
%endif
<script language="javascript" type="text/javascript">seajs.use('/static/js/servers', function(servers) {servers.init();});</script>
<%include file="footer.html"/>
